body {
    width: 700px;
    margin: 0px auto;
    background: #e0e0e0;
}

.heading {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00ffff;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.image {
    width: 646px;
    height: auto;
    border-radius: 10px;
}

.whole {
    background-color: white;
    border-style:double;
    border-radius: 20px;
    border-width: 7px;
    border-color: rgb(0, 225, 255);
    padding: 20px;
}

.linkList li {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-right: 55px;
}

.sub {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase;
    background-color: #00ffff;
    padding: 10px;
    border-radius: 10px;
}

.norm {
    font-family: 'Courier New', Courier, monospace;
}